/* Styles generaux */
:root {
  --bleu_fonce: #001f3f;
  --bleu_ciel: #00b4d8;
  --vert: #2ecc71;
  --mauve: #6c5ce7;
  --bleu_eau: #7fdbff;
  --bleu_sombre: #004d99;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserra/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "varela";
  src: url(../fonts/VerelaRound/VarelaRound-Regular.ttf);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*Header*/

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/planete_1920_1080.png");
  background-size:cover; 
  background-position: center; 
  position: relative;
  background-repeat: no-repeat;
}

header h1 {
  position: absolute;
  top: 1vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 4vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
}
header p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
  background-color: #001f3f;
  padding:1.5vh 1.5vw ;
  font-size: 1vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
}

/*ScrollDown Indicator*/ 

.ScrollHelpIndicator {
  --showroomXGap: 5vw;
  --leftMargin: 68px;
  --menu-offset: 0px;
  --menu-offset-overlay: 80px;
  --menu-circle-nav-diamond-offset: 20px;
  font-size: 22px;
  font-family: Roobert, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color:#fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: fixed;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  bottom: 83px;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  animation: scrollDown 1.5s infinite;
  -webkit-animation: scrollDown 1.5s infinite;
  z-index: 100000;
}

.scrollText {
  font-size: 14px;
  font-weight: 900;
  fill: rgb(2, 2, 2);
  text-anchor: middle;
  dominant-baseline: middle;
}


@keyframes scrollDown {
  0% {
    transform: translate(0);
  } 
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translate(0);
  }
}

@-webkit-keyframes scrollDown {
  0% {
    transform: translate(0);
  }
 25% {
    transform: translateY(15px);
  }
  50% {
    transform: translate(0);
  }
}

/*Sections*/
section {
  width: 100vw;
  height: 100vh;
  border: red 2px dashed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

section p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
  background-color: #001f3f;
  padding:1.5vh 1.5vw ;
  font-size: 1vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
}
#chapitre-no1 {
  background-image: url("../img/img_arriere_plan/ciel_1920_1080.png");
}

#chapitre-no2 {
  background-image: url("../img/img_arriere_plan/surface_1920_1080.png");
}

#chapitre-no3 {
  background-image: url("../img/img_arriere_plan/vague.jpg");

}

#chapitre-no4 {
  background-image: url("../img/img_arriere_plan/bateau_.jpg");
}

#chapitre-no5 {
  background-image: url("../img/img_arriere_plan/milieu_eau_1920_1080.png");
}

#chapitre-no6 {
  background-image: url("../img/img_arriere_plan/image_fx_japanese_style_of_deepsea_without_fishs_and_d.jpg");
}

#chapitre-no7 {
  background-image: url("../img/img_arriere_plan/temple_bg.png");
}


/*Parallax*/
.top {
  position: absolute;
  top: 10vh; 
  right: 10vw;
  z-index: 2;
  width: 60%;
  max-width: 100%; 
  height: auto; 
}

.mid {
  position: absolute;
  top: 25vh; 
  z-index: 3;
  width: 70%;
  max-width: 100%;
  height: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  width: 60%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .top, .mid, .bottom {
    width: 50%; 
  }
}

@media (max-width: 900px) {
  #chapitre-no7 {
    background-image: url("../img/img_arriere_plan/temple_eau_1920_1080.png");
  }
  .top{
    width: 0; 
  }
  .mid{
    width: 0; 
  }
  .bottom{
    width: 0; 
  }
}


#chapitre-no8 {
  background-image: url("../img/img_arriere_plan/bottom_sea_1920_1080.png");
  position: relative;
}

/*Sprite Sheet*/
.exo, .exo2 {
  height: 200vh;
}
.sprite {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/img_personnages/diver_ss.png);
  height: 502px;
  width: 502px;
  animation: exo 1s infinite steps(48) paused;

}
.sprite2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/img_personnages/bird_ss.png);
  height: 500px;
  width: 500px;
  animation: exo2 1s infinite steps(48) paused;

}
@keyframes exo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24096px 0;
  }
}

@keyframes exo2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24000px 0;
  }
}

.is-scrolling .sprite {
  animation-play-state: running;
}

.is-scrolling .sprite2 {
  animation-play-state: running;
}

/*Footer*/
footer p {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: rgb(0, 0, 0); /*Attention a ce que ca soit visible*/
  text-align: center;
}
