/*------------------------------------------------------------------
Styles generaux 
--------------------------------------------------------------------*/
:root {
  --bleu_fonce: #001f3f;
  --bleu_ciel: #00b4d8;
  --vert: #2ecc71;
  --mauve: #6c5ce7;
  --bleu_eau: #7fdbff;
  --bleu_sombre: #004d99;
  --fond_texte: #001f3f;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserra/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "varela";
  src: url(../fonts/VerelaRound/VarelaRound-Regular.ttf);
}


* {
  outline: red dashed 2px;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

/*------------------------------------------------------------------
Header
--------------------------------------------------------------------*/
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/galaxy.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.personnage{
  position: absolute;
  width: 125px;
  height: 100px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  outline: red dashed 2px;
  z-index: 999;
}

header h1 {
  position: absolute;
  top: 1vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 4vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
}

header p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
  background-color: var(--fond_texte);
  padding: 1.5vh 1.5vw;
  font-size: 1vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
}

/*------------------------------------------------------------------
Descends (ScrollDown)
--------------------------------------------------------------------*/
.descends {
  --showroomXGap: 5vw;
  --leftMargin: 68px;
  --menu-offset: 0px;
  --menu-offset-overlay: 80px;
  --menu-circle-nav-diamond-offset: 20px;
  font-size: 22px;
  font-family: Roobert, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: fixed;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  bottom: 83px;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  animation: scrollDown 1.5s infinite;
  -webkit-animation: scrollDown 1.5s infinite;
  z-index: 100000;
}

.scrollText {
  font-size: 14px;
  font-weight: 900;
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: middle;
}

@keyframes scrollDown {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translate(0);
  }
}

@-webkit-keyframes scrollDown {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translate(0);
  }
}

/*------------------------------------------------------------------
Sections
--------------------------------------------------------------------*/
section {
  width: 100vw;
  height: 101vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

section p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
  background-color: var(--fond_texte);
  padding: 1.5vh 1.5vw;
  font-size: 1vw;
  font-family: "varela";
  color: var(--bleu_eau);
  text-align: center;
  z-index: 1000000;
}

/*------------------------------------------------------------------
Chapitre 1 
--------------------------------------------------------------------*/
#chapitre-no1 {
  background-image: linear-gradient(
    rgba(74,35,133,255),
    rgba(80,55,96,255)
  );
}


/*------------------------------------------------------------------
Chapitre 2
--------------------------------------------------------------------*/
#chapitre-no2 {
  background-image: url("../img/img_arriere_plan/parallax/fond_montagnes.png");
  overflow: hidden;
}

/*---Anim titre---*/
.text {
  position: absolute;
  top: 1vh;
  left: 40vw;
  z-index: 1;
  font-size: 4rem;
  font-weight: 600;
}

.outline-text {
  position: absolute;
  top: 1vh;
  left: 40vw;
  z-index: 3;
  font-size: 4rem;
  font-weight: 600;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--bleu_fonce);
  color: transparent;
}

/*---Parallax---*/
.mont-gauche {
  position: absolute;
  width: 60vw;
  height: 60vh;
  bottom: 0vh;
  left: -5vw;
  z-index: 3;
}

.mont-droite {
  position: absolute;
  width: 60vw;
  height: 60vh;
  bottom: 0vh;
  right: -1vw;
  z-index: 2;
}

.arbres {
  position: absolute;
  width: 110vw;
  height: 70vh;
  left: -5vw;
  bottom: -25vh;
  z-index: 4;
}

.cachePara{
  position: absolute;
  width: 100vw;
  height: 50vh;
  bottom: -25vh;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background: radial-gradient(at top bottom, rgb(0, 0, 0), rgb(54, 243, 25));
}
/*------------------------------------------------------------------
Chapitre 3
--------------------------------------------------------------------*/
#chapitre-no3 {
  background-image: url("../img/img_arriere_plan/surface_hd.png");
}

/*---SpriteSheet Oiseau---*/
.ss-oiseau {
  position: relative;
  top: -10vh;
  background-image: url("../img/img_personnages/bird_ss.png");
  height: 500px;
  width: 500px;
  animation: oiseau 1s infinite steps(48) paused;
  z-index: 100;
}

/*------------------------------------------------------------------
Chapitre 4 
--------------------------------------------------------------------*/
#chapitre-no4 {
  background-image: linear-gradient(
    rgba(40, 10, 15, 255),
    rgba(60,187,220,255)
  );
}
/*Morphing (Marche sur codePen) */
svg {
  display:none;
  position:relative;
  display: block;
  margin: 20px auto;
  width:700px;
  max-height: 70vh;
}

#poisson{
  visibility:hidden;
}
/*------------------------------------------------------------------
Chapitre 5
--------------------------------------------------------------------*/
#chapitre-no5 {
  background-image: url("../img/img_arriere_plan/plan-eau-1.png");
}

/*------------------------------------------------------------------
Chapitre 6
--------------------------------------------------------------------*/
#chapitre-no6 {
  background-image: url("../img/img_arriere_plan/plan-eau-3.png");
}

.ss-diver {
  position: relative;
  background-image: url("../img/img_personnages/diver_ss.png");
  width: 502px;
  height: 502px;
  animation: diver 1s infinite steps(48) paused;
  z-index: 100;
}

/*------------------------------------------------------------------
Chapitre 7
--------------------------------------------------------------------*/
#chapitre-no7 {
background: rgba(36,98,149,255);
background: radial-gradient(at center bottom, rgba(36,98,149,255), rgba(114,205,253,255));
height: 200vh;
}

.bateau {
  position: relative;
  left: 22%;
  top: 60vh;        
}

.bat-top{
  position: absolute;
  top: -30px;
  left: 650px;
  width: 200px;
  outline: red dashed 2px;
}

.bat-mid{
  position: absolute;
  top: 230px;
  left: 525px;
  width: 400px;
}

.bat-bottom{
  position: absolute;
  top: 325px;
  left: 400px;
  width: 600px;
}

/*------------------------------------------------------------------
Chapitre 8
--------------------------------------------------------------------*/
#chapitre-no8 {
  background-image: url("../img/img_arriere_plan/bottom_sea.png");
  position: relative;
}



/*------------------------------------------------------------------
Sprite Sheets Animations
--------------------------------------------------------------------*/
@keyframes oiseau {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24000px 0;
  }
}

@keyframes diver {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24096px 0;
  }
}

.is-scrolling .ss-diver,
.is-scrolling .ss-oiseau {
  animation-play-state: running;
}
/*------------------------------------------------------------------
Footer
--------------------------------------------------------------------*/

footer p {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: rgb(0, 0, 0); /*Attention a ce que ca soit visible*/
  text-align: center;
}
